img {
    max-width: 100%;
}
 .header-container {
    max-height: 100px;
 }
 .header-container > .row > .col > img {
    width: 80px;
 }
 main {
    height: calc(100vh - 150px);
    background-color: #7FFFD4;
 }

 footer {
    height: 50px;
 }